$accent-primary: #017980;
$accent-error: #ce505c;
$accent-error: #e8b645;
$bg-primary: #ffffff;
$bg-secondary: #e8edee;
$bg-tertiary: #dde6e6;
$ui-primary: #46595a;
$ui-secondary: #8a9899;
$ui-tertiary: #bfd3d4;